.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  max-height: 350px; /* Establece la altura máxima que desees */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido excede la altura máxima */
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

/* styles.css o styles.scss */
.scrollable-card {
  max-height: 350px; /* Establece la altura máxima que desees */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido excede la altura máxima */
}