<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="card card-default shadow rounded">
        <div class="card-header text-center">
          <h4>Reportes</h4>
        </div>

        <div class="col-6">
          <ul class="nav">
            <li class="nav-link active">
              <a   class="nav-link active" (click)="opcionReporte('Empleados')">Active</a>
            </li>
            
            <li class="nav-link active">
                <a   class="nav-link active" (click)="opcionReporte('Ventas')">Ventas</a>

AGREGAR OPCION A MOSTRAR PESTANAS

              </li>
            
          </ul>

          <div class="w-100">
            <app-empleados></app-empleados>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
