<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Acciones</mat-toolbar>
    <mat-nav-list>
      <button class="btn m-md-2" (click)="irInicio()" >Inicio</button>
      <hr class="w-25 mx-auto">
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Caja</span>
      <button class="position-absolute top-2 mx-3 end-0 btn btn-outline-light" (click)="cerrarSesion()" >Cerrar sesion</button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-dashboard-cajero></app-dashboard-cajero>
  </mat-sidenav-content>
</mat-sidenav-container>
