<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h1 class="card-title text-center mb-5 fw-bold">Ingreso al sistema</h1>

          <form>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="floatingInput" placeholder="Código" required>
              <label for="floatingInput">Código</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" required>
              <label for="floatingPassword">Contraseña</label>
            </div>

            <div class="d-grid">
              <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>