<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h1 class="card-title text-center mb-5 fw-bold">Ingreso al sistema</h1>

          <form (ngSubmit)="login()">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="floatingInput" placeholder="Código" [(ngModel)]="loginData.codigo" [ngModelOptions]="{standalone: true}">
              <label for="floatingInput">Código</label>
              <div class="alert alert-warning mt-2" role="alert" *ngIf="codigoNull">
                Debes ingresar el código de empleado
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" [(ngModel)]="loginData.contrasenia" [ngModelOptions]="{standalone: true}">
              <label for="floatingPassword">Contraseña</label>
              <div class="alert alert-warning mt-2" role="alert" *ngIf="contraseniaNull">
                Debes ingresar una contrasenia
              </div>
              <div class="alert alert-warning mt-2" role="alert" *ngIf="!credencialesIncorrectas">
                Credenciales incorectas
              </div>
            </div>
            <div class="d-grid">
              <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>