<div class="grid-container">
  <h1 class="mat-h1 text-center">Bodega</h1>

  <form class="form" (ngSubmit)="editarStockProducto()">
    <h2 class="form__title">Stock Producto</h2>

    <div class="form__container">
      
      <div class="form__group__p">
        <p #codigoProducto class="form__input" placeholder=" " readonly></p>
        <label for="codigo" class="form__label">Codigo del producto</label>
        <span class="form__line"></span>
      </div>

      <div class="form__group__p">
        <p #nombreProducto class="form__input" placeholder=" " readonly></p>
        <label for="name" class="form__label">Nombre del producto</label>
        <span class="form__line"></span>
      </div>

      <div class="form__group">
        <input class="form__input" name="cantidad" id="cantidad" #cantidadProducto placeholder=" ">
        <label for="cantidad" class="form__label">Cantidad de producto en la bodega</label>
        <span class="form__line"></span>
        <div class="alert alert-warning mt-2" role="alert" *ngIf="cantidadNull">
          Debes asignar una cantidad entera positiva para actualizar el stock del producto
        </div>
      </div>

      <input type="submit" class="form__submit" name="login" value="Actualizar stock" />

    </div>
  </form>
</div>
