<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <button class="btn m-md-2" (click)="Validaropcion(1)" >Inicio</button>
      <hr class="w-25 mx-auto">
      <h3 class="text-center"><b>Productos</b></h3>
      <button class="btn m-md-2" (click)="Validaropcion(2)">Nuevo producto</button>
      <button class="btn m-md-2" (click)="Validaropcion(3)">Disponibles para agregar</button>
      <hr class="w-25 mx-auto">
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Bodega</span>
      <button class="position-absolute top-2 mx-3 end-0 btn btn-outline-light" (click)="cerrarSesion()" >Cerrar sesion</button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-dashboard-bodega *ngIf="opcion==1" ></app-dashboard-bodega>
    <app-agregar-producto *ngIf="opcion==2"></app-agregar-producto>
    <app-productos-disponibles-agregar *ngIf="opcion==3" ></app-productos-disponibles-agregar>
  </mat-sidenav-content>
</mat-sidenav-container>
