<div class="grid-container">

    <h1 class="mat-h1 text-center">Administración</h1>
  
      <form class="form" (ngSubmit)="crearEmpleado()">
          <h2 class="form__title">Agregar Empleado</h2>
  
          <div class="form__container">
              <div class="form__group">
                  <input type="text" name="name" id="name" class="form__input" placeholder=" " [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}">
                  <label for="name" class="form__label">Nombre del empleado</label>
                  <span class="form__line"></span>
                  <div class="alert alert-warning mt-2" role="alert" *ngIf="nombreNull">
                    Debes ingresar un nombre para el empleado
                  </div>
              </div>
              <div class="form__group">
                  <p class="text-start"> Rol</p>
                  <select name="rol" id="rol" class="form__input" required (change)="cambiarTipoEmpleado($event)" required [(ngModel)]="rol">
                    <option value="1" >Cajero</option>
                    <option value="2" >Inventario</option>
                    <option value="3"  >Bodega</option>
                  </select>
                  <div class="alert alert-warning mt-2" role="alert" *ngIf="rolNull">
                    Debes seleccionar un rol para el empleado
                  </div>
                </div>
                
                
                <div class="form__group">
                  <p class="text-start"> Sucursal</p>
                  <select name="sucursal" id="sucursal" class="form__input" required [(ngModel)]="sucursal">
                    <option value="1">Central</option>
                    <option value="2">Norte</option>
                    <option value="3">Sur</option>
                  </select>
                  <div class="alert alert-warning mt-2" role="alert" *ngIf="sucursalNull">
                    Debes asignar una sucursal para el empleado
                  </div>
                </div>
                
                <div class="form__group" *ngIf="tipoEmpleado==1">
                  <input type="number" name="caja" id="caja" class="form__input" placeholder=" " required min="1" [(ngModel)]="caja" [ngModelOptions]="{standalone: true}">
                  <label for="caja" class="form__label">Número de caja</label>
                  <span class="form__line"></span>
                  <div class="alert alert-warning mt-2" role="alert" *ngIf="cajaNull">
                    Debes asignar un numero entero para asignarle caja al cajero
                  </div>
                </div>
  
              <div class="form__group">
                  <input type="password" name="password" id="password" class="form__input" placeholder=" " required [(ngModel)]="contrasenia" [ngModelOptions]="{standalone: true}">
                  <label for="password" class="form__label">Contraseña</label>
                  <span class="form__line"></span>
                  <div class="alert alert-warning mt-2" role="alert" *ngIf="constraseniaNull">
                    Se debe ingresar una contrasena
                  </div>
              </div>
  
              <input type="submit" class="form__submit" name="login" value="Agregar">
          </div>
  
      </form>
  </div>
  